* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  transition:  0.2s;
}

img {
  max-width: 100%;
}

ul, li, a {
  list-style: none;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: rgba(17, 17, 17, 0.668);
}

::-webkit-scrollbar-thumb {
  background-color: #00000073;
  border-radius: 5px;
}