* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  transition:  0.2s;
}

img {
  max-width: 100%;
}

ul, li, a {
  list-style: none;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: rgba(17, 17, 17, 0.668);
}

::-webkit-scrollbar-thumb {
  background-color: #00000073;
  border-radius: 5px;
}

/* Defina as propriedades iniciais dos elementos */
.elemento {
  opacity: 0;
  transform: translateY(20px); /* Os elementos começam 20 pixels abaixo */
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

/* Defina uma classe para animar o elemento */
.aparecer {
  opacity: 1;
  transform: translateY(0);
}
