.habilidades {
  color: white;
  background-color: #1d1c20;
  text-align: center;
}

.habilidades h3{
  color: white;
  font-size: 2rem;
  font-family: 'Poppins', sans-serif;
  padding: 50px 0;
}

.icones-habilidades {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 40px;
  font-size: 3rem;
}

.icones-habilidades p{
  font-size: 1.2rem;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}