@media (max-width: 1020px) {
  main
   {
    overflow-x: hidden;
  }
  header {
    width: 100%;
  }
  #home-conteudo {
    padding: 40px;
  }
  #home-conteudo h1 {
    font-size: 5rem;
  }
  .sobre-image {
    display: none;
  }
  .sobre-text {
    padding: 20px;
  }
  section#skills {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 0px;
  }
  nav.botao-skills {
    display: flex;
    flex-wrap: wrap;
    position:relative;
    padding: 10px 10px 10px 0px;
    margin-bottom: 10px;
    gap: 20px;
  }
  nav.botao-skills button {
    margin: 0;
    padding: 10px 10px 10px 0px;
  }
  div.tecno-usada {
    max-width: 100%;
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }
  div.technology {
    max-width: 90%;
    padding: 0px 30px 30px 30px;
    margin: 40px;
    gap: 30px 20px;
  }
  div.graduation {
    max-width: 100%;
    padding: 20px;
  }
  .titulo-projetos {
    padding: 50px 0px 10px 0px;
  }
  .projetos-container, .projetos-container-2, .projetos-container-3 {
    padding: 20px;
  }
  .img-projetos {
    display: none;
  }
  .img-soon {
    display: none;
  }
  .projetos-container-3 {
    justify-content: start;
  }
  div#contato-links {
    max-width: 100%;
    flex-direction: column;
    word-wrap: break-word;
  }
  div#contato-links a {
    margin: 0px;
    padding: 15px;
  }
  div.card-contato {
    display: flex;
    flex-direction: column;
    max-width: 100%;
  }
  ::-webkit-scrollbar {
    display: none;
  }
}

@media (max-width: 750px) {
  #home-img {
    display: none;
  }

  .icones-habilidades {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}