#sobre {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 60px;
  background-color: #1d1c20;
  border-bottom: 5px dotted #2a282d;
}

.sobre-image img {
  width: 700px;
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 8px 9px 53px -7px rgba(0, 0, 0, 0.525);
}

.sobre-text {
  font-size: 1.5rem;
  line-height: 1.6;
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
  color: white;
  padding: 60px;
}

.sobre-text p {
  margin-bottom: 30px;
}